include LICENSE
include README.md
include requirements.txt
include CHANGELOG.md
include TODO.md
include pyproject.toml
include setup.py

recursive-include tests *.log
recursive-include tests *.raw

prune archieves
prune __pycache__